.scoreBoard {
  display: block;
  width: 350px;
  margin: 0 auto;
  padding: 50px 0 30px;
}

.score {
  margin: 20px 0;
  display: flex;
  padding: 20px;
  border: solid black;
  border-width: 2px;
}

.scoreName {
  width: 50%;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

.scorePoints {
  width: 50%;
  text-align: right;
}

.winner {
  font-size: 40px;
  padding-top: 50px;
}