.choosingTopicHeader {
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  width: 465px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

li {
  background: #ff5255;
  border: solid black;
  border-width: 2px;
  border-radius: 10px;
  margin: 5px;
  width: 140px;
  height: 140px;
  line-height: 140px;
}

/* .topicText {
  display: inline-block;
  vertical-align: middle;
} */