.choosingTopicHeader {
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  width: 450px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

li {
  border-radius: 10px;
  margin: 5px;
  width: 140px;
  height: 140px;
  line-height: 140px;
}

.chosenTopic {
  position: relative;
  display: flex;
  height: calc(100% - 135px);
  padding-top: 40px;
  overflow: hidden;
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.chosenPrompt {
  position: absolute;
  font-size: 43px;
}

/* .topicText {
  display: inline-block;
  vertical-align: middle;
} */