.host {
  height: 100%;
  /* background-image: url(/duck.svg); */
}

.host::after {
  content: "";
  background: url(/duck.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.hostHeader {
  padding: 125px 0 10px;
  font-size: 50px;
}

.createGameBtn, .startGameBtn {
  padding: 10px;
}

select {
  margin: 15px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
}
