.host {
  height: 100%;
}

.hostHeader {
  padding: 10px 0;
}

.createGameBtn, .startGameBtn {
  padding: 10px;
}

select {
  margin: 15px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
}
