.playerTiles, .topics {
  display: inline-block;
}

.playerTile, .topic {
  width: 400px;
  height: 20px;
  border-radius: 8px;
  background-color: #ABABAB;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.chooseHeader {
  padding: 10px 0;
}