.resultName {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.resultDupes {
  position: absolute;
  display: flex;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

/* .resultDupe {
  padding: 0 10px;
} */

.resultTile {
  margin: 20px;
  width: 800px;
  height: 280px;
  padding: 0 15px;
  border: solid black;
  border-width: 2px;
  border-radius: 8px;
  background-color: #ffeacb;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}