.header {
  height: 50px;
  background-color: #ffd0cb;
  border-bottom: 2px solid black;
  text-align: center;
}

.headerText {
  line-height: 50px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 20px;
}