.statusBar {
  position: absolute;
  bottom: 0;
  height: 20px;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 100%;
  padding: 25px 0;
}

.status {
  height: 100%;
  display: inline-flex;
}

.statusName {
  padding: 0 5px;
}