.statusBar {
  position: absolute;
  bottom: 0;
  height: 20px;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
}

.status {
  height: 100%;
  display: inline-flex;
}

.statusName {
  padding: 0 20px;
  vertical-align: middle;
  line-height: 20px;
}