.tiles {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
}

.tileList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.tile {
  width: 400px;
  height: 140px;
  padding: 0 15px;
  border-radius: 8px;
  background-color: #ABABAB;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}